.colsize {
    height: 100vh;
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (min-width: 768px) {

    .container,
    .container-md,
    .container-sm {
        max-width: unset;
        /* Cancels the max-width set by Bootstrap */
    }
}

.content {
    height: 40%;
    width: 60%;
}

.form {
   
    width: 50%;
    border-radius: 10px;
    box-shadow: -12px 16px 9px 3px rgba(0, 0, 0, 0.1);
}
.label {
    padding-left: 10px; /* Adjust the padding value as needed */
}
form .form-control {
    display: block;
    width: 80%;
    margin-left: 15px;
    padding: 10px;
}
.formfooter{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}