.parent-container {
    overflow-x: hidden; /* Prevent horizontal scrolling */
}
.custom-gx-3 {
    --bs-gutter-x: 35rem !important; /* Override with a larger gap */
}
 h6 {
    margin-right: 1rem; /* Adjust the margin-right value as needed */
    margin-bottom: 0;
}
.offcanvas-body{
    text-align: start;
}
.body-container{
    background-color: rgb(225, 255, 255);
   
        height: 92vh;
    }

p {
    margin: 0  ;
}
.todo-container{
    max-width: 70vw;
    min-height: 70vh;
    max-height: 65vh;
    background:#ffffff;
    margin-top: 10px;
    display: flex;
    overflow: auto;
    flex-direction: column;
}
.todo-container::-webkit-scrollbar {
    width: 7px; /* Width of the scrollbar */
}

.todo-container::-webkit-scrollbar-track {
    background: #fffefe; /* Color of the scrollbar track */
}

.todo-container::-webkit-scrollbar-thumb {
    background: #6d6d6db6; /* Color of the draggable part */
    border-radius: 7px; /* Rounded corners */
}

.todo-container::-webkit-scrollbar-thumb:hover {
    background: #6f6e6e51; /* Color when hovered */
}
.todos{
    max-width: 65vw;
    min-width: 64vw;
    max-height: 50px;
    background:#ffffff;
    text-align: start;
    padding-left: 20px;
    border-left: 5px solid #ff0000;
    border-radius: 10px;
    box-shadow: 10px 10px 5px #aaaaaa8a;

}
.status{
    height: 33px;
    width: 87px;
    text-align: center;
    border:3px solid #ff0000;
    border-radius: 32px;
   
}
.iconcontainer{
    width: 10%;
    justify-content: space-evenly;
}
.deleteicon{
    color: #e00000d6;
    font-size: 18px;
}
.editicon{
    color: #0642e6d6;
    font-size: 22px;
}
      
  